:root {
    --main-color: #eaeaea;
    --secondary-color: rgba(0, 0, 0, 0.5)
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 8vw;
}

.game-title-wrapper {
    text-align: center;
}

body {
    background-color: var(--main-color);
    font-family: 'Russo One', sans-serif;
    background-image: url("../images/battle-ring.jpg");
    background-image: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 100%;
    color: white;
}


header {
    background: var(--secondary-color);
    border: 5px solid var(--main-color);
    border-radius: 5px;
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    margin: 3% 3% 10px 3%;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--main-text);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

.combat-container {
    display: none;
    margin-left:1%;
    margin-right:1%;
}

.combatant-data, #battle-narration, .scoreboard {
    background: var(--secondary-color);
    padding: 10px 9px;
    border: 5px solid var(--main-color);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    font-size: 2.5vw;
    margin: 0 3%;
}

.scoreboard {
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 3%;
    padding: 0;
}

#d-char-race, #d-char-class, #poke-name {
    font-size: 2.5vw;
}

.combatant-data {
    font-size: 1.5vw;
    text-align: center;
}

.combatant-text-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#battle-narration {
    display: none;
    font-size: 2vw;
    margin-bottom: 10px;
}

#d-combatant-img, #poke-combatant-img {
    display: flex;
    justify-content: center;
}

.fighter-image {
    width: 60%;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}

#button-holder {
    display: flex;
    justify-content: center;
    margin-top: 26%;
}

.fight-btn {
    font-family: 'Russo One', sans-serif;
    font-size: 3vw;
}

#poke-attack, #d-char-attack, #d-char-race {
    text-transform: capitalize;
}

footer {
    text-align: center;
    margin: 10px;
}

footer a {
    color: white;
    border-bottom: .5px solid white; 
    transition-duration: 0.5s;
}

footer a:hover {
    color: var(--main-color);
    letter-spacing: 1px;
    border-bottom: .5px solid var(--main-color); 
    transition-duration: 0.5s;
}