* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.scoreboard {
    display: flex;
    flex-wrap: wrap;
}

.combatant-container {
    display: flex;
    flex-wrap: wrap;
}

.fighter-image {
    min-width: 240px;
}

#button-holder {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#poke-attack, #d-char-attack, #d-char-race {
    text-transform: capitalize;
}
