:root {
    --main-color: #eaeaea;
    --secondary-color: #fff;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--main-color);
    font-family: 'Russo One', sans-serif;
    background-image: url("../images/battle-ring.jpg");
    background-image: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 100%;
}


header {
    background: var(--secondary-color);
    border: 5px solid var(--main-color);
    border-radius: 5px;
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    margin: 3% 3% 10px 3%;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--main-text);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

.combatant-data, #battle-narration, .scoreboard {
    background: var(--secondary-color);
    padding: 10px 9px;
    border: 5px solid var(--main-color);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    font-size: 2.5vw;
    margin: 0 3%;
}

.scoreboard {
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 3%;
    padding: 0;
}

#d-char-race, #d-char-class, #poke-name {
    font-size: 2.5vw;
}

.combatant-data {
    font-size: 1.9vw;
    text-align: center;
}

.combatant-text-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#battle-narration {
    visibility: hidden;
}

#d-combatant-img, #poke-combatant-img {
    display: flex;
    justify-content: center;
}

.fighter-image {
    width: 60%;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}

#button-holder {
    display: flex;
    justify-content: center;
}

.fight-btn {
    font-family: 'Russo One', sans-serif;
    font-size: 3vw;
}

#poke-attack, #d-char-attack, #d-char-race {
    text-transform: capitalize;
}

h1 {
    font-size: 8vw;
}

.game-title-wrapper {
    text-align: center;
}